Label {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

Foldout {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.tab {
    flex-grow: 1;
}

.selectedTab {
}

.unselectedContent {
    display: none;
}
